:root {
    --primary-color: #b80257;
    --secondary-color: #783df0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a,
img,
input,
button,
textarea,
select {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: transparent;

    font-family: inherit;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 496px;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner {
    flex: 1;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    color: #fff;
}

.header__container {
    display: flex;
    flex-direction: column;
}

.header__action {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__action i {
    padding: 8px;
    border-radius: 4px;

    font-size: 1.5rem;
    transition: background-color ease 0.6s;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
}

.navbar__link {
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    transition: background-color ease 0.6s;
}

.navbar__item:hover .navbar__link,
.header__action i:hover {
    background: var(--primary-color);
}

.navbar__sub-menu {
    position: absolute;
    left: 0;
    top: 28px;
    border-radius: 4px;
    visibility: hidden;
    background: #fff;

    text-transform: capitalize;
}

.navbar__item:hover .navbar__sub-menu {
    visibility: visible;
}

.navbar__sub-menu::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 6px;
}

.navbar__sub-menu li {
    transition: background-color ease-in-out 0.5s;
}

.navbar__sub-menu li:hover {
    background: var(--primary-color);
}

.navbar__sub-menu li + li a {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__sub-menu a {
    display: flex;
    align-items: center;
    min-width: 220px;
    height: 46px;
    padding: 0 24px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    transition: color, translate ease 0.5s;
}

.navbar__sub-menu li:hover a {
    color: #fff;
    translate: 15px 0;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Breadcrumb */

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb__item {
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
}

.breadcrumb__item + .breadcrumb__item::before {
    content: "/";
    padding-right: 10px;
}

.breadcrumb__link {
    transition: color, ease 0.3s;
}

.breadcrumb__item:hover .breadcrumb__link {
    color: var(--primary-color);
}

/* Main */
.main {
    padding-bottom: 100px;
}

table {
    width: 100%;
    margin: 100px 0;
    border-collapse: collapse;
    /* border-spacing: 0; */
}

table td,
table th {
    height: 58px;
    padding: 0 16px;

    font-weight: 400;
    letter-spacing: 0.2px;
    border: 1px solid #ddd;

    vertical-align: middle;
}

.table th {
    font-size: 1.8rem;
    font-weight: 600;
    background: #ebebed;
}

table th:first-child {
    text-align: left;
}

table th:not(:first-child),
tr td:not(:first-child) {
    text-align: center;
}

.stable__data:nth-child(even) {
    background: #f5f7f7;
}

/* Table Phan 1 */

.table__title {
    padding: 20px;
    background: #ebebed;

    font-size: 1.8rem;
    text-align: center;
    line-height: 1.7;
}

.table__title strong {
    font-weight: 600;
}

/* Table Phan 2 */

.user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user__group {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.user__group i {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: -8px;
    color: #4971db;
}

.status {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
    color: var(--color);
    background: var(--bg);
}

.status-active {
    --bg: #e2efe6;
    --color: #4b9457;
}

.status-not-found {
    --color: #f2c616;
    --bg: #fdf8e7;
}
